# Application
NODE_ENV=development

# Backend
BACKEND_PORT=3000
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000/api

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=erp_system
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/erp_system

# Auth
JWT_SECRET=999f383d5e02be81b0f62a055fae2428b58b002fee1daa357620181a663e8aa4
JWT_REFRESH_SECRET=927b39c446377d70e2dbddf30e8d5cbae5fd41b55f8e9bcdfbde2e4c0299480d
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Encryptation
ENCRYPTION_KEY=4ea7acc5265ece15d3c38f882afc68563ca99fdf9d380197ea3225081792305f